
/* style.css */
body {
  font-family: 'Georgia', serif;
  background: url("img/Light\ Photos\ -\ Download\ Free\ High-Quality\ Pictures\ _\ Freepik.jpeg") no-repeat center center fixed;
  background-size: cover;
  color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  text-align: center;
  border-bottom: 2px solid #444;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

.content-area {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
  margin-bottom: 2rem;
}

.box {
  background-color: #686663;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-left: 6px solid #0f0f0f;
  transition: transform 0.2s ease;
}

.box:hover {
  transform: translateY(-5px);
}

.box h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #0f0f0f;
}

.box h2 a {
  text-decoration: none;
  color:#0f0f0f;
}

.box h2 a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1.5rem 1rem;
  background-color: rgba(255,255,255,0.9);
  font-style: italic;
  border-top: 2px solid #444;
}
